@font-face {
    font-family: joeFont;
    src: url(fonts/RuthlessDrippin1.ttf);
}

h3 {
  color: black; font-family: "Great Vibes", cursive; 
  font-size: 24px; 
  line-height: 10px; 
  font-weight: normal; 
  margin-bottom: 0px; 
  margin-top: 40px;  
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

a, li {
    color:black;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);

}
.container { position:relative; padding:0 0 0 55px; }
#sidebar {
    border:10px solid black;
    position:absolute;
    top:0; bottom:0; left:0;
    width:150px;
    height: 100%;
    background:skyblue;
    opacity:.8;
    text-align: center;

}

#header { border:10px solid black; width:100%; height:185px; 
    position: relative;
    left:110px;
    margin:0 0 0px 20;
    font-family:joeFont;
    font-size:55px;
    background: url(/images/header.jpg);
    background-size: 100% 185px;
    background-repeat: no-repeat;
    text-align: center;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    
}



#headerpic {
    position: absolute;
    top: 0;
    left:50;
}
    

#content { border:10px solid black; width:100%;
    position: relative;
    left:110px;
    height:600px;
    margin:5px 0 5px 85;
    background-image: url(/images/IT.jpg);
    opacity:.5;
    overflow: hidden;
}
#footer { border:5px solid black; width:100%; height:10%;
    margin:5px 0 0 90;
    position: relative;
    left:110px;
}